<mat-toolbar class="top-menu"> 
    <span>Department List</span>
</mat-toolbar>

{{todo | json}}
<div class="mat-elevation-z5">
    <mat-table [dataSource] = "grdlistData">
        <ng-container matColumnDef="deptid">
            <mat-header-cell *matHeaderCellDef>Id</mat-header-cell>
            <mat-cell *matCellDef="let item">101</mat-cell>

        </ng-container>
        
        <ng-container matColumnDef="deptname">
            <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
            <mat-cell *matCellDef="let item">Karthik</mat-cell>

        </ng-container>

        
        <ng-container matColumnDef="ordno">
            <mat-header-cell *matHeaderCellDef>Order</mat-header-cell>
            <mat-cell *matCellDef="let item">10</mat-cell>

        </ng-container>
        
        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef>Id</mat-header-cell>
            <mat-cell *matCellDef="let row">
                <button mat-icon-button color="primary" title="Edit">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="accent" title="Delete">
                    <mat-icon>delete_forever</mat-icon>
                </button>
            </mat-cell>

        </ng-container>
        
        <mat-header-row *matHeaderRowDef='displayedColumns'></mat-header-row>
        <mat-row *matRowDef="let row; colums: displayedColumns;"></mat-row>

    </mat-table>
   <mat-paginator></mat-paginator>
   
</div>